/* PAGINA HABILIDADES*/
.habilidades{
    background-color: $color-third;
    .maingrid{
        display: grid;
    grid-template-columns: 100%;
    width: 100%;
    padding: 100px 10px 10px 10px;
    .textotitulo{
        .tituloprincipal{
            font-size: 4.375em;
            text-align: center;
            font-family: $font-second;
            font-style: italic;
        }
    }
    .habilidad{
        .imagen{
            width: 80px;
            height: 80px;
            border: 2px solid $color-fourth;
        }
        .video{
            padding: 5px;
        }
        .texto{
            color: white;
            text-align: start;
            padding-left: 40px;
            padding-right: 40px;

            &__entretitulo{
                font-family: $font-second;
                padding: 0;
                margin: 0;
            }
            &__subrayado{
                opacity: 40%;
                width: 20%;
                height: 5px;
                margin: 0;
            }
            &__titulo{
                font-family: $font-second;
                padding: 0;
                margin: 0;
            }
            &__parrafo{
                font-family: $font-main;
                font-size: 1rem;
                margin: 0;
                padding-left: 20px;
            }
        }
        &.p{
            @extend %cajas;
        }
        
        
        &.q{
            @extend .p;
        }
        
        &.w{
            @extend .p;
        }
        
        &.e{
            @extend .p;
        }
        
        &.r{
            @extend .p;
        }
        
    }
}
}
.habilidad{
    @extend %habilidad;
}
/*.habilidad{
    &.p &.q &.w &.e &.r{
    @extend %cajas;
    }
}*/
/*.maingrid{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    padding: 100px 10px 10px 10px;
    
}
.tituloprincipal{
    font-size: 4.375em;
    text-align: center;
}*/


/*.imagen{
    width: 80px;
    height: 80px;
    border: 2px solid $color-fourth;
}*/
/*.video{
    padding: 5px;
}*/
/*.texto{
    color: white;
    text-align: start;
    padding: 0 0px 0px 20px;
}*/
/*.entretitulo{
    font-family: $font-second;
    padding: 0;
    margin: 0;
}*/
/*.subrayado{
    opacity: 40%;
    width: 20%;
    height: 5px;
    margin: 0;
}*/
/*.titulo{
    font-family: $font-second;
    padding: 0;
    margin: 0;
}*/
/*.parrafo{
    font-family: $font-main;
    font-size: 1rem;
    margin: 0;
}*/

/*.p{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.q{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.w{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.e{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.r{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}*/
