//vars de colores
$color-main: black;
$color-second: white;
$color-third:  #160101;
$color-fourth: #d5a40265;
$color-five: #a20d0d;

//fuente personalizada
$font-main:'Manjari', sans-serif;
$font-second:'Staatliches', cursive;
